@font-face {
font-family: "Andes";
src: url("fonts/andes-webfont.woff"); /*Pretty Modern Browsers*/
src:
url("fonts/andes-webfont.woff2") format("woff2"), /*Super Modern Browsers*/
url("fonts/andes-webfont.ttf") format("truetype"); /*Safari, Android, iOS*/
}

body { 
	 background-color: #048243;
	 font-family: "Andes", Fallback, sans-serif;
	 margin: 0;
	 padding: 0;
}

nav {
	position: fixed;
	width: 600px;
	left: 30%;
	top: 5%;
	text-align: center;
	margin: 0 auto;
	height: 60px;
}

nav a{
	text-decoration: none;
	font-size: 20px;
	color: #262626;
	text-transform: uppercase;
	font-weight; bold;
	font-family: poppins;
	margin-right: 25px;
}

.banner-arena{
	width: 100%;
	height: 100vh;
	background: url(x.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direcetion: column;
	font-size: 2vw;
	color: #fff;
}

.banner-arena h2{
	font-family: "Andes", Fallback, poppins;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 65px;
	margin: 0 0 25px;
	animation: animate 2s 1;
}

.btn{
	text-decoration: none;
	padding: 3px 30px;
	color: #fff;
	border: 2px solid #fff;
	transition: 0.6s ease;
	border-radius: 50px;
	font-family: poppins;
	font-size: 25px;
	animation: animate 2s 1;
}